@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "browser";


html
    @include breakpoint(pc)
        font-size: 18px
    @include breakpoint(pad)
        font-size: 16px
    @include breakpoint(mobile)
        font-size: 14px
    @include breakpoint(mobile-sm)
        font-size: 12px

body
    font-family: 'Roboto', sans-serif  
    background-color: #111111    
#main_page
    position: relative
    margin: 0 auto
    padding: 20px
    max-width: 500px
    min-height: 100vh
    color: white
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    transition: 0.4 ease-out
    background-image: url('../img/bg/loading.jpg')
    .setting-container
        button
            width: 30px
            height: 30px
            border: none
            background: url('../img/icon/setting.png') no-repeat center / contain
           
    .time-and-temperature-container
        display: inline-flex
        justify-content: space-between
        align-items: flex-end
        width: 100%
        .city
            padding: 10px 0 
            font-size: 24px
            font-weight: 700
        .date
            font-size: 16px
        .unit
            width: 1rem
            height: 1rem
            border: 3px solid #fff
            border-radius: 50%
            float: right
        .average-temperature
            font-size: 4rem
            float: right
        .min-max-temperature
            padding-top: 10px
            display: inline-flex
            .temperature
                font-size: 10px
                &:first-child
                    padding-right: 5px 
            
    .primary-info-container
        margin-top: 6vh
        width: 100%
        text-align: center
        .weather
            &-icon
                margin: 0 auto
                max-width: 180px
                width: auto
                height: 25vh
                max-height: 180px
                img
                   height: 100%
            &-type
                margin-top: 20px
                font-weight: 700
                font-size: 2rem
            &-description
                margin-top: 20px
                font-size: 1.5rem
                font-weight: 500
                text-shadow: 1px 1px rgba(20, 20,20 ,0.5 )

    .secondary-info-container
        display: inline-flex
        justify-content: center
        margin-top: 8vh
        width: 100%
        .weather-item
            margin: 0 2.5rem
            min-width: 0
            &-icon
                img
                    width: auto
                    height: 40px
            &-value
                margin-top: 10px
                font-size: 24px
                white-space: nowrap
                span
                    font-size: 12px
    .obs-time-container
        position: absolute
        bottom: 10px
        right: 10px
        display: inline-flex
        justify-content: right
        align-items: center
        .reload,.obs-time
            height: 2em
        .reload img
            margin-left: 1em
            height: 100%
            widows: auto
        .obs-time div
            padding-top: 0.6em



    //setting-page
    .setting-page,.body-wrap
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    .setting-page
        z-index: 2
        padding: 40px 20px
        width: 92%
        max-width: 500px
        box-shadow: 2px 8px 10px #000
        border-radius: 4%
        background-color: white
        color: black
        font-size: 1.5rem
        .title
            margin-bottom: 20px
            font-size: 2rem
            font-weight: 700
        select
            margin: 20px 0
            padding: 5px
            width: 100%
            border: 1px solid #222
            border-radius: 4px
        .btn-container
            display: flex
            justify-content: center
        .back-btn,.save-btn
            color: white
            padding: 5px 0
            width: 50%
            border: none
            border-radius: 5px
        .back-btn
            margin-right: 10px
            background-color: #aaa
            &:hover
                background-color: #777
                transition-duration: .5s
        .save-btn
            background-color: #136ab1
            &:hover
                background-color: #0e4470
                transition-duration: .5s
    .body-wrap
        z-index: 1
        width: 100%
        height: 100vh
        background-color: rgba(0,0 ,0 , .7)
        transition-duration: .5s
              



